Sangtei/config.py
logfile
Sangtei.session
Sangtei.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
Sangtei.mp3
gpic.png
